body {
  font-family: "Proxima Nova";
  font-weight: 400;
}

/* Styling the header sections */
.header__nav {
  width: 100%;
  padding: 11px 0 3px 0;
}

.nav {
  display: flex;
  max-width: 1170px;
  margin: auto;
  align-items: center;
}
.nav__logo {
  column-gap: 0.5625rem;
  display: flex;
  height: 65px;
  margin-right: 101px;
}
.logo__text {
  width: 135px;
  max-width: 135px;
}
.text__detaill {
  padding-top: 5px;
  font-size: 10px;
  line-height: 12px;
  color: var(--violet);
}
.nav__search {
  display: flex;
  padding: 11px 18px;
  width: 385px;
  justify-content: space-between;
  align-items: center;
  max-width: 385px;
  background-color: var(--background);
  margin-right: 40px;
}

.nav__socialmedia {
  display: flex;
  align-items: center;
  margin-right: 45px;
}
.nav__socialmedia > img {
  padding-right: 2.0175rem;
  cursor: pointer;
}

.nav__button {
  display: flex;
  align-items: center;
  column-gap: 2.875rem;
}

.button__connexion {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  padding-bottom: 9px;
  border-bottom: 4px solid var(--red);
  color: var(--red);
  font-weight: bold;
}

.button__language {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

.fa-solid {
  cursor: pointer;
  color: #bdbdbd;
  font-size: 18px;
}

.fa-user {
  padding-right: 1.078125rem;
  color: var(--red);
  font-size: 20px;
}
.fa-bars {
  color: var(--white);
  padding-right: 10.5px;
}
.links__language {
  color: var(--violet);
}

/* Stying the links  */

.header__links {
  margin-top: 0.5rem;
  padding: 0.4375rem;
  background-color: var(--red);
}

.links {
  margin: auto;
  max-width: 1170px;
}

.links > ul {
  display: flex;
  justify-content: space-between;
}

.button__language > img {
  padding-left: 6px;
}

/* Stying the content Header  */

.content {
  max-width: 1170px;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(43, 40, 64, 0) 9.5%,
    rgba(43, 40, 64, 0.22) 38.07%,
    rgba(32, 29, 52, 0.78) 82.5%
  );
}

.content__imagePrincipale {
  position: relative;
  z-index: 1;
}
.content__sliderTop {
  position: absolute;
  display: flex;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  top: 297px;
  text-align: center;
  z-index: 2;
}
.arrow__left,
.arrow__right {
  padding: 14px 22px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  width: 50px;
  height: 46px;
  position: relative;
  cursor: pointer;
}
.arrow__left > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.arrow__right > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content__sliderTop > h3 {
  width: 600px;
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* styling the sliderBottom */
.content__sliderBottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 584px;
  z-index: 3;
  max-width: 1170px;
}

.content__sliderBottom > div {
  border-top: 2px solid var(--white);
  display: flex;
  column-gap: 11px;
  justify-content: center;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
}
.content__sliderBottom > div:nth-child(2) > p {
  color: var(--white);
  font-weight: 800;
  opacity: 100;
}
.content__sliderBottom > div > p {
  color: var(--white);
  opacity: 0.7;
}

/* Starting styling the Archives section */

.app__archieve {
  background-image: url(/assets/images/acheive.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
  top: -100px;
  background-color: var(--background);
}

.archeive {
  padding: 173px 0 63px 0;
  max-width: 1170px;
  margin: auto;
}

.archieve__header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.header__bar {
  width: 1015px;
  height: 0px;
  border: 1px solid var(--red);
}

.archieve__left {
  padding-top: 2.5rem;
  width: 1086px;
  max-width: 1086px;
}
.left__search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left__search > input {
  background-color: var(--white);
  height: 50px;
  width: 471px;
  padding: 7px 20px;
  font-size: 15px;
  line-height: 39px;
}

.button__search {
  cursor: pointer;
  padding: 0.9375rem 1.9375rem;
  background-color: var(--red);
  color: var(--white);
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  margin-right: 22px;
  margin-left: 9px;
}
.fa-magnifying-glass {
  color: var(--white);
  padding-right: 0.936875rem;
}

.search__advanced {
  cursor: pointer;
  color: var(--violet);
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  padding: 0.9375rem 0.5rem;
  border-bottom: 2px solid var(--violet);
}

.left__content {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.left__content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 260px;
  height: 172px;
  width: 260px;
  flex-wrap: wrap;
  background-color: var(--white);
}

.fa-file {
  color: var(--red);
  font-size: 35px;
  padding-bottom: 25px;
}

/* styling the .statestique section */

.statestique {
  padding: 51px 0 73px 0;
  max-width: 1170px;
  margin: auto;
}

.archieve__header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.satestique__bar {
  width: 965px;
  height: 0px;
  border: 1px solid var(--red);
}

.footer__copywrite {
  position: relative;
  color: var(--white);
  font-size: 12px;
  line-height: 15px;
  padding: 19px 0;
  background-color: var(--violet);
}
.copywrite {
  display: flex;
  width: 1170px;
  margin: auto;
  justify-content: space-between;
}

.copywrite__right > ul {
  display: flex;
}
.copywrite__right > ul > li {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
.copywrite__right > ul > li:nth-child(1) {
  padding-right: 68px;
}

.copywrite__right > ul > li:nth-child(2) {
  font-weight: 400;

  padding-right: 72px;
}
